  
    <article class="post">
      <div class = "content">
        <p>user name: {{posts.[0].user.username}}</p>
        <p>posts: {{posts.length}}</p>
        <a href="/dashboard/edituser">edit my info</a>
        </div>
    </article>