* {
    box-sizing: border-box;
  }
  
  body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(255, 191, 132);
    background-color:rgb(0, 0, 0);
  }
  
  a {
    text-decoration: none;
    color:rgb(202, 202, 202);
    font-weight: bold;
    transition: color .1s;
  }
  
  a:hover {
    color: rgb(255, 255, 255);
  }
  
  button {
    background-color: #747474;
    border: 0;
    padding: 10px;
    color: white;
    font-weight: bold;
    transition: background-color .1s;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #bbbbbb;
  }
  
  .post-list {
    margin: 0;
    padding: 0;
    list-style-type:none;
  }
  
  textarea, input {
    padding: .5%;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  input {
      background-color: lightgray;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
  
  textarea:focus, input:focus {
    outline: none;
    border: 1px solid #3b3b3b;
  }
  
  textarea {
    min-width: 40%;
    min-height: 100px;
  }
  
  form > div {
    margin-bottom: 2%;
  }
  
  form label {
    display: block;
  }
  
  .wrapper {
    width: 100%;
    min-height: 100%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
    background-color: #333;
    width: 100%;
  }
  
  header h1 {
    font-size: medium;
    border: 2px inset #7d7d7d;
    border-radius: 5px;
    padding: 10px;
  }
  
  main {
    flex: 1;
    padding: 2% 4%;
  }

  nav {
      padding: 1.2rem;
      text-align: right;
      white-space: pre;
      display: flex;
  }

  nav a {
    margin: 5px;
    padding: 5px;
  }
  
  .btn-no-style {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    text-decoration: none;
    color: rgb(202, 202, 202);
    font-size: 100%;
    font-weight: bold;
    transition: color .1s;
    margin-left: 16px;
  }
  
  .btn-no-style:hover {
    background: none;
    color: white;
  }

  
  .delete-post-btn {
    background-color: #af0000;
  }
  
  .delete-post-btn:hover {
    background-color: #e20505;
  }
  
  .post {
    margin: 2%;
    padding: 2%;
    line-height: 150%;
    border-bottom: 2px groove #747474;
  }
  
  .post .title {
    font-style: italic;
    font-size: small;
    color: #7d7d7d;
  }

  .post .title span {
    font-style: italic;
    font-size: medium;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
  }
  
  .upvote-btn {
    background-color: #197d0f;
    transition: background-color .1s;
  }
  
  .upvote-btn:hover {
    background-color: #1f9c13;
  }
  
  .comment-form {
    margin-bottom: 5%;

  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
    border-bottom: 1px solid #747474;
    background-color: black;
  }
  
  .comment:nth-child(odd) {
    background-color: black;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input, textarea {
    width: 80%;
    background-color: lightgray;
  }


  
  .edit-post-form {
    margin-bottom: 5%;
  }

  .row {
      display: flex;
  }

  .column {
      flex: 50%;
      padding: 1.25rem;
  }
  
  footer {
    display: flex;
    justify-content: center;
    padding: 1%;
    font-size: 110%;
    border-top: 2px inset #747474;
  }